.white {
  background-color: #FFFFFF;
}

.silver {
  background-color: #C0C0C0;
}

.gray {
  background-color: #808080;
}

.black {
  background-color: #000000;
}

.cyan {
  background-color: #00FFFF;
}

.aquamarine {
  background-color: #7FFFD4;
}

.lightblue {
  background-color: #ADD8E6;
}

.blue {
  background-color: #0000FF;
}

.darkblue {
  background-color: #00008B;
}

.purple {
  background-color: #800080;
}

.magenta {
  background-color: #FF00FF;
}

.pink {
  background-color: #FFC0CB;
}

.yellow {
  background-color: #FFFF00;
}

.orange {
  background-color: #FFA500;
}

.red {
  background-color: #FF0000;
}

.brown {
  background-color: #A52A2A;
}

.maroon {
  background-color: #800000;
}

.lime {
  background-color: #00FF00;
}

.green {
  background-color: #008000;
}

.olive {
  background-color: #808000;
}